@model GimmeTheLoot.Models.AspNetUser
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Details";
}

    <h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["AspNetUsers"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["UserName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Email"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Localizer["NormalizedEmail"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NormalizedEmail)
        </dd>
        <dt class="col-sm-2">
            @Localizer["PhoneNumber"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Localizer["PhoneNumberConfirmed"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Localizer["TwoFactorEnabled"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Localizer["LockoutEnabled"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Localizer["AccessFailedCount"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
