@model GimmeTheLoot.Models.AspNetUser
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AspNetUsers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Localizer["UserName"]
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Localizer["Email"]
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Localizer["NormalizedEmail"]
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Localizer["PhoneNumber"]
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Localizer["PhoneNumberConfirmed"]
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /> @Localizer["TwoFactorEnabled"]
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> @Localizer["LockoutEnabled"]
                </label>
            </div>
            <div class="form-group">
                @Localizer["AccessFailedCount"]
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
