@model IEnumerable<GimmeTheLoot.Models.AspNetUser>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["UserName"]
            </th>

            <th>
                @Localizer["Email"]
            </th>
            <th>
                @Localizer["NormalizedEmail"]
            </th>


            <th>
                @Localizer["PhoneNumber"]
            </th>
            <th>
                @Localizer["PhoneNumberConfirmed"]
            </th>
            <th>
                @Localizer["TwoFactorEnabled"]
            </th>

            <th>
                @Localizer["LockoutEnabled"]
            </th>
            <th>
                @Localizer["AccessFailedCount"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
