@model GimmeTheLoot.Models.Project
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Details";
}


<input hidden id="user" value="@User.Identity.Name" />

<input hidden value="@Model.Id" name="id" id="id">

<input hidden value="@DateTime.Now" type="text" id="datainput" />

@Html.Partial("_Project")
<h1>@Localizer["Details"]</h1>


<form asp-action="Details">

    <input hidden name="UserName" id="UserName" type="text" value="@User.Identity.Name">

    <div class="row">
        <div class="col-md-12">

            <div class="card text-center">
                <div class="card-header">
                    <h2>@Model.Title</h2>
                    @Localizer["Subject"]: @Model.Subject
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @Model.Content.Text
                    </h5>
                </div>
                <div class="card-footer text-muted">
                    @Model.Content.Date
                </div>
            </div>
            <div>@Model.Created</div>
            <div>@Model.ExpirationDate</div>

        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>

    <p><h5>@Localizer["Enter ur opinion"]:</h5></p>
    <p><textarea style="width: 500px; height: 100px;" name="NewCommentary" id="NewCommentary"></textarea></p>

    <div class="form-group">
        <input type="submit" value="@Localizer["Leave a commentary"]" class="btn btn-default" id="sendButton" />
    </div>
</form>



<div id="messagesList"></div>

@Html.Partial("_Commentaries")



